<h2> 社員一覧 </h2>
<div>
    <label >
        <!-- #テンプレートネームを指定して、これで参照できるようになる -->
        <input type="text" #memberName>
    </label>
    <!-- 上の名前をaddしたのちに、inputの中身をクリアすする -->
    <button (click)="add(memberName.value); memberName.value = '' "> 追加 </button>
</div>
<ul class="members">
    <!-- ()内で書くことをイベントバインディング -->
    <!-- [class]内で書くことをクラスバインディング -->
    <li *ngFor="let member of members">
        <a routerLink="/detail/{{member.id}}">
            <span class="badge">{{member.id}}</span> {{member.name}}
        </a>
        <button class = "delete" title="社員の削除" (click)="delete(member)"> 削除 </button>
    </li>
</ul>

<!-- member-detail コンポーネントにselectedMemberをmemberとして渡している -->
<!-- <app-member-detail [member] = "selectedMember"></app-member-detail> -->